/* CSS Normalize */

/* Box sizing */
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Reset margins and padding */
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: max(36px,min(4vw,4em));
    line-height: max(36px,min(4.1vw,56px));
  }
  
  
  /* Lists */
  ol, ul {
    list-style: none;
  }
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }

  main {
    display: block;
  }

  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }



  strong {
    font-weight: bolder;
  }