html {
  scroll-behavior: smooth;
}


label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
}


p#result {
  margin: 20px;
  font-weight: bold;
  font-size: 24px;
}

body {
  scroll-behavior: smooth;
}

.container {
  height: 100%;
  width: 100%;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}



.container section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  padding: 64px 24px 64px 24px;
}

#hero {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 80vw;
  padding-top: 128px;
}

#vehicleMaintenance {
  align-items: flex-start;
  justify-content: flex-start;
  
}


.intro {
  max-width: 640px;
}

#driverQualification {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

#unsafeDriving {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

#drugAlcohol {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

#hos {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

#accidents {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
}

#section-8 {
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  max-width: 63%;
}

footer {
  background-color: #F9FAFB;
  padding: 24px 96px 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  text-align: center;
  border-top: 1px solid #E5E7EB;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  background-color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: 24px;
  z-index: 100;
}


/* -------Buttons-------- */

button {
  padding: 12px 16px;
}

button:hover {
  color: #fff;
  background-color: #4444EF;
  cursor: pointer;
}

.more {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}



.ctas {
  padding: 64px 0 0 0;
  display: flex;
  align-items: center;
  gap: 36px
}

.accent {
  background-color: #F1B72C;
  border-radius: 6px;
  border: none;
}

.tag {
  background-color: #F1B72C;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 32px;
  gap: 12px;
  transition: background-color 0.3s ease;
}


.tag h2 {
  flex: 1;
}

.tag svg {
  width: 36px;
}

.tag:hover {
  background-color: #4444EF;
  text-decoration: none;
}


.tags {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5vw;
}

.factor {
  background-color: #F3F4F6;
  border-radius: 32px;
  padding: 64px;
  width: 100%;
}

.gap64 {
  margin-top: 64px;
}

.gap32 {
  margin-top: 32px;
}

.gap16 {
  margin-top: 16px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 20px;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;

}

.list-item {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;

}

.smallList {
  padding: 16px 0 16px 12px;
}

.smallListItem {
  padding-top: 8px;
}

.line {
  display: flex;
  align-content: baseline;
  gap: 8px;
}

.descriptionPoint {
  min-width: 36px;
}

.description {
  padding-top: 20px;
  border-top: 2px solid #4444EF;
}

svg {
  display: block;
  margin: 0;
}


select {
  appearance: none;
  background-color: #fff;
  color: #4B5563;
  border: 1px solid #E5E7EB;
  padding: 12px 16px;
  border-radius: 8px;
  font-family: 'Archivo', -apple-system, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 28px;
  width: fit-content;
}

select option {
  background-color: #fff;
  color: #4B5563;
}

.float {
  background-color: #fff;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  text-decoration: none;
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease;
}

.float:hover {
  background-color: #F9FAFB;
  box-shadow: none;
  border: 2px solid #4444EF;

}

@media screen and (max-height: 786px) {
  .float {
    display: none;
  }
}


/* ------Colors------- */

.secondary-accent {
  color: #4444EF;
}

.primary {
  color: #111827;
}

.secondary {
  color: #374151;
}

.muted {
  color: #6B7280;
}

.hidden {
  opacity: 0;

  transition: all 1s;
}

.show {
  opacity: 1;

}